    <!-- Main content -->
    <section class="content">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-12">
			  <div class="card">
				<div class="card-header">
				  <h3 class="card-title">DataTable-Order-Details</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
				  <table id="example2" class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>Id</td>
							<td>Customer</td>
							<td></td>
							<td>Products</td>
							<td>Price</td>
							<td>Size</td>
							<td>Quantity</td>
							<td>Amount</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pageDetail.orderdetails">
							<th style="vertical-align: middle;">{{$index+1}}</th>
							<th style="vertical-align: middle;">{{item.order.account.fullname}}</th>
							<th style="vertical-align: middle;"> <img style="width: 100px; height: 100px"
									src="/assets/images/{{item.product.image}}" alt="{{item.id}}"></th>
							<th style="vertical-align: middle;">{{item.product.name}}</th>
							<th style="vertical-align: middle;">$ {{item.price| number :2}}</th>
							<th style="vertical-align: middle;">{{item.size}}</th>
							<th style="vertical-align: middle;">{{item.quantity}}</th>
							<th style="vertical-align: middle;">$ {{item.price*item.quantity| number :2}}</th>
							<td style="vertical-align: middle;">
								<div class="btn-group btn-group-xs">
									<button ng-click="deleteOrderdetails(item)" class="btn btn-danger"><i class="ion-trash-a"></i></button>
								</div>
							</td>
			
						</tr>
					</tbody>
				  </table>
				  <div class="panel-footer text-center">
					<button ng-click="pageDetail.first()" class="btn btn-dark">
						<i class="fa fa-fast-backward" aria-hidden="true"></i>
					</button>
					<button ng-click="pageDetail.prev()" class="btn btn-dark">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
					</button>
					<button class="btn btn-dark"> <b>{{pageDetail.page + 1}} of {{pageDetail.count}}</b> 
					</button>
					<button ng-click="pageDetail.next()" class="btn btn-dark">
						<i class="fa fa-arrow-right" aria-hidden="true"></i>
					</button>
					<button ng-click="pageDetail.last()" class="btn btn-dark">
						<i class="fa fa-fast-forward" aria-hidden="true"></i>
					</button>
				</div>
				</div>
				<!-- /.card-body -->
			  </div>
			  <!-- /.card -->
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	  </section>
	  <!-- /.content -->
