<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{:: main})}">
    
    <body>
        <main th:object="${order}">
            <div class="bg0 m-t-50">
                <div class="container">
                    <div class="flex-w flex-sb-m p-b-52">
                        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                            <a href="/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="*">
                                The Coffee House
                            </a>
                            <a href="#" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">
                                Order Detail
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content p-t-75 p-b-85">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Information</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>Order Number</td>
                                                <td>Purchaser</td>
                                                <td>Date</td>
                                                <td>Address</td>
                                                <td>Phone</td>
                                                <td>Action</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: middle;"><label th:text="*{id}"></label></td>
                                                <td style="vertical-align: middle;"><label th:text="*{account.username}"></label></td>
                                                <td style="vertical-align: middle;"><label th:text="*{createDate}"></label></td>
                                                <td style="vertical-align: middle;"><label th:text="*{address}"></label></td>
                                                <td style="vertical-align: middle;"><label>+(84) [[*{phone}]]</label></td>
                                                <td style="vertical-align: middle;" th:style="${order.action == 'Huỷ xác nhận' or order.action == 'Đã huỷ xác nhận' ? 'color: red' : 'color: rgb(76, 224, 76)'}"><label th:text="*{action}"></label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->

            <!-- Main content -->
            <section class="content p-t-5 p-b-85">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Your orders</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>Id</td>
                                                <td>Name</td>
                                                <td></td>
                                                <td>Price</td>
                                                <td>Size</td>
                                                <td>Quantity</td>
                                                <td>Amount</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="detail: *{orderDetails}" th:object="${detail}">
                                                <td style="vertical-align: middle;">[[*{product.id}]]</td>
                                                <td style="vertical-align: middle;">[[*{product.name}]]</td>
                                                <td style="vertical-align: middle;">
                                                    <div class="how-itemcart1">
                                                        <img th:src="@{|/assets/images/*{product.image}|}" alt="IMG">
                                                    </div>
                                                </td>
                                                <td style="vertical-align: middle;">$[[*{#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}]]</td>
                                                <td style="vertical-align: middle;">[[*{size}]]</td>
                                                <td style="vertical-align: middle;">[[*{quantity}]]</td>
                                                <td style="vertical-align: middle;">$[[*{#numbers.formatDecimal(price*quantity, 0, 'COMMA', 2, 'POINT')}]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->

        </main>
    </body>

</html>
